extends layout

block content
  h1= title
  - let Universities = [{UniversityType:"Public", UniversityFees: 234000, UniversitiesCourses:45},{UniversityType:"Private", UniversityFees: 50000, UniversitiesCourses:35},{UniversityType:"Mixed", UniversityFees: 30000, UniversitiesCourses:56}]
  div(class="container-fluid mt-3")
  div(class="row")
    each uni,index in Universities
        div(class="col-sm-4" onclick=`buy(${index})`) #{uni.UniversityType} - #{uni.UniversityFees} - #{uni.UniversitiesCourses} 

    script.

      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      } 